@model dziennik_elektroniczny.Application.ViewModels.VmForDisplay.ListEnglishForListVm

@{
    ViewData["Title"] = "EnglishAvarages";
}

<h1>English Avarages</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Class1B" asp-action="StudentsAvarages">Back to previous page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Class1B" asp-action="EditEnglishGrade">Edit grade</a>
            </th>
        </tr>
    </thead>
</table>
<form asp-action="EnglishAvarages" asp-controller="Class1B" method="post">
    <table class="table">
        <style>
            table {
                text-align: center;
            }

            th {
                border: 1px solid;
                padding: 10px;
            }

            td {
                border: 1px solid;
                padding: 10px;
            }
        </style>
        <thead>
            <tr>
                <th>
                    Index number
                </th>
                <th>
                    TestAvarage
                </th>
                <th>
                    ShortQuizAvarage
                </th>
                <th>
                    HomeWorkAvarage
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.English)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestAvarage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortQuizAvarage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeworkAvarage)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i < (Math.Ceiling(Model.Count / (double)Model.PageSize) + 1); i++)
                {
                    <td style="border: 0px; padding: 0px; width: 10px; height: 100px; font-size: 20px">
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
